@charset "UTF-8";
/* Les couleurs */
/*Logo Principal*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
header .first_title {
  margin: 4px 0px 11px 0px;
  padding: 10px;
  box-shadow: -1px 5px 3px 0px rgba(0, 0, 0, 0.1);
}
header .first_title #main_logo {
  width: 150px;
  margin: auto;
  display: flex;
}

.fa-arrow-left:before {
  position: relative;
  bottom: 43px;
  left: 25px;
  text-decoration: none;
}
.fa-arrow-left:before a:visited {
  color: black;
}

footer .bloc_footer {
  background-color: #353535;
}
footer .bloc_footer ul {
  list-style: none;
  padding-left: 0px;
  display: inline-block;
  padding-left: 30px;
}
footer .bloc_footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
  font-family: "roboto";
}
footer .bloc_footer ul li a .icon-restaurant,
footer .bloc_footer ul li a .icon-partenaire {
  margin-right: 5px;
  font-weight: 900;
}
footer .bloc_footer .titre-pied-page {
  margin-bottom: 5px;
}

/*@mixin btn($background, $color) {
    background:$background;
    color: $color;
    border-radius: 6rem;
    box-shadow: 20px; 
}
*/
/*correct?*/
/* Les couleurs */
/*Responsive desktop*/
/*Filtres Fonctionnement*/
@media screen and (min-width: 800px) {
  .filter_bloc {
    /*display:flex;
    flex-direction: row;
    width: 100%;
    */
    display: flex !important;
    flex-direction: row !important;
  }
  .filter_bloc .filter {
    width: 33%;
  }
  .filter_bloc .filter .choice {
    left: 60px;
  }

  .starters .menu_price, .main_course .menu_price, .desserts .menu_price {
    display: flex !important;
  }

  .starters, .main_course, .desserts {
    width: 400px !important;
  }

  .starters {
    height: 143px;
  }

  .main_course {
    height: 120px;
  }

  .desserts {
    height: 120px;
  }

  .starters span, .main_course span, .desserts span {
    line-height: 1.6em;
  }

  span.menu_price {
    position: absolute;
    bottom: 10px;
  }

  .wrapper_all_restaurants {
    padding-right: 0px !important;
  }

  .wrapper_all_restaurants .restaurant_cards {
    flex-wrap: wrap;
    flex-direction: row !important;
    padding-right: 0px !important;
  }

  .restaurant_cards a {
    width: calc((100% / 2) - 20px) !important;
  }

  footer .bloc_footer ul {
    padding-left: 0px;
    margin: 0px;
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    height: 60px;
    align-items: center;
  }

  .bloc_menu {
    display: flex;
    gap: 20px;
    /*&.starters, .main_course, .desserts{
      width: calc((250px / 3) - 20px);
    }
    */
    /*Etiquettes entrées restaurant*/
  }
  .bloc_menu .starters .menu_price, .bloc_menu .main_course .menu_price, .bloc_menu .desserts .menu_price {
    float: none;
  }

  /*Bloc entre, plats, desserts*/
}
/*Responsive*/
* {
  box-sizing: border-box;
}

/*Spinner*/
.loader {
  border-radius: 50%;
  border-top: 16px ridge #9356dc;
  height: 120px;
  width: 120px;
  animation: loader 3s linear;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 999;
  visibility: hidden;
  opacity: 1;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    visibility: visible;
    opacity: 100%;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
    opacity: 0%;
  }
}
@keyframes wrapper {
  0% {
    visibility: visible;
    opacity: 90%;
  }
  60% {
    opacity: 70%;
  }
  100% {
    visibility: hidden;
    opacity: 0%;
  }
}
/*Conteneur wrapper*/
.wrapper_loader {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  animation: wrapper 3s linear;
  visibility: hidden;
}

/*Bordure du body*/
body {
  margin: 0;
}

/*Titles*/
h2.reserver_menu_title {
  text-align: center;
  padding-bottom: 10px;
}

.menu_title_card {
  font-family: "Shrikhand";
}

h3 {
  margin-left: 20px;
}

h4 {
  font-size: 1.17em;
}

/*Mise en page*/
html {
  box-sizing: border-box;
  /*
  font-family: "shrikhand";
  font-weight: 900;
  color: green;
  */
}

html {
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "roboto";
}

/*Couleurs*/
/*Boutons violets*/
.btn_location {
  color: white;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  border-radius: 6rem;
  border: none;
  box-shadow: 1px 10px 20px -2px rgba(0, 0, 0, 0.18);
  width: 190px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 50px;
}
.btn_location:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

/*
.btn_location{
  @include btn
}
.btn_location:hover{
opacity: 0.8;
cursor: pointer;
transition: .3s;
box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
}
*/
/*grey background + Logo localisation*/
#background_grey {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 50px;
  border: 1px solid #eeeeee;
  width: 100%;
  margin-top: -11px;
}

.destination {
  position: relative;
  left: 10px;
}

/*Light grey background*/
#background_light_grey {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-bottom: 50px;
}

/*Second Title*/
.second_title {
  font-weight: 900;
  font-size: 1.2em;
  text-align: center;
}
.second_title .text_align_left {
  text-align: left;
}

/*element span*/
span {
  text-align: center;
  padding-left: 15px;
}

/*Filtres choix restaurant*/
.filter_bloc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.filter {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: 50px;
  width: auto;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.filter:hover {
  background: #f5edff;
  opacity: 0.8;
  cursor: pointer;
  transition-duration: 0.8s;
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
.filter:hover .icon_filter {
  color: #9356DC;
}
.filter:hover .choice {
  font-weight: bold;
}
.filter .circle_number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 50px;
  transform: translate(-9px);
}
.filter .icon_filter {
  position: relative;
  left: 30px;
  color: #7f7f7e;
}
.filter .choice {
  position: absolute;
  left: 70px;
}

/*Hover couleur*/
/*




0 0.5em 0.5em -0.4em var(--hover)

*/
.wrapper_all_restaurants {
  background: #f6f6f6;
  padding: 10px 20px 10px 20px;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
}
.wrapper_all_restaurants .restaurant_cards {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.restaurant_cards a {
  text-decoration: none;
  color: #000000;
  width: 100%;
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 0px 3px 0px #9e9e9e;
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurant_cards a:hover {
  transition-duration: 0.8s;
  box-shadow: 2px 8px 4px -6px #c28bf9;
}

.restaurant_card_effect {
  display: flex;
}

.restaurant_cards a img {
  object-fit: cover;
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 0 0;
}

.title_and_heart {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 17px;
}

.area_restaurant {
  font-weight: 100;
}

.new_icon {
  color: #1b6150;
  font-size: 0.9rem;
  padding: 3px 3px 0px 12px;
  margin: 0;
  padding-right: 5px;
  height: 25px;
  display: flex;
  justify-content: flex-end;
}
.new_icon span {
  background: #99e2d0;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
  filter: brightness(100%);
}

/*Coeur like*/
.block_heart .heart_full {
  position: absolute;
  fill: url(#heart_color);
  stroke: none;
}

.block_heart .heart_empty {
  stroke-width: 20px;
  stroke: black;
  fill: white;
  cursor: pointer;
}

.block_heart, .heart_empty {
  width: 26px;
  position: relative;
}

.heart:hover {
  fill: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  opacity: 0.2;
  cursor: pointer;
  transition-duration: 0.8s;
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}

/*Fleche retour page restaurant*/
.fa-arrow-left:active {
  color: black;
}

/*  PAGE RESTAURANT LA NOTE ENCHANTEE*/
/*font menu*/
#menu {
  background-color: #f6f6f6;
}

/* image fond restaurant*/
.font_img_menilmontant {
  width: 100%;
  height: 245px;
  object-fit: cover;
  margin-top: -29px;
}

/*block page fond*/
.font_menu {
  padding: 0 20px;
  width: 100%;
  max-width: 1230px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  position: relative;
  bottom: 24px;
}

/*titre la palette du gout*/
.title_menu {
  font-family: "Shrikhand", cursive;
}

/*groupement alignement titre + coeur*/
.menu_title_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 4%;
}

/*Entrées,Plats,Desserts*/
.menu_subtitle {
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 10px;
}
.menu_subtitle::after {
  content: "";
  width: 35px;
  height: 20px;
  position: absolute;
  border-bottom: 3px solid #99e2d0;
  left: 21px;
}

/*Encadrement entrées*/
.starters, .main_course, .desserts {
  background: #ffffff;
  cursor: pointer;
  margin-bottom: 10px;
  width: auto;
  padding: 15px;
  padding-right: 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.starters .menu_bold, .main_course .menu_bold, .desserts .menu_bold {
  display: block;
  text-align: left;
}
.starters .menu_price, .main_course .menu_price, .desserts .menu_price {
  float: right;
}
.starters .menu_light, .main_course .menu_light, .desserts .menu_light {
  font-weight: 100;
}
.starters span, .main_course span, .desserts span {
  padding: 0;
  font-size: 0.9rem;
}

/*Opacités etiquettes*/
.starters, .main_course, .desserts {
  animation: opacity 1s both;
}

/*affichages cartes avec délai*/
#etiquette_1 {
  animation-delay: 0.1s;
}

#etiquette_2 {
  animation-delay: 0.2s;
}

#etiquette_3 {
  animation-delay: 0.3s;
}

#etiquette_4 {
  animation-delay: 0.4s;
}

#etiquette_5 {
  animation-delay: 0.5s;
}

#etiquette_6 {
  animation-delay: 0.6s;
}

#etiquette_7 {
  animation-delay: 0.7s;
}

#etiquette_8 {
  animation-delay: 0.8s;
}

#etiquette_9 {
  animation-delay: 0.9s;
}

#etiquette_10 {
  animation-delay: 1s;
}

/*Bloc menu*/
.bloc_menu {
  padding-top: 10px;
  padding-bottom: 30px;
  cursor: pointer;
}

/*slide validation*/
.box_flex {
  position: absolute;
  background: #99E2D0;
  border-radius: 0 10px 10px 0;
  right: 0px;
  top: 0px;
  padding: 0 13px;
  height: 100%;
}
.box_flex.box_flex i {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
  position: relative;
  top: 15px;
}

/*  
  &:hover{
    animation: slidein 0.5s ease ;
    transform-origin: right; 
  }
  &.menu_price:hover{
    padding-right: 50px;
    transition: 0.5 ease;
  }
}
*/
.box_flex {
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}

#etiquette_1:hover .box_flex {
  background-color: #99E2D0 !important;
  transform: translate3d(0, 0, 0);
  transition: transform ease 1s;
  opacity: 1;
}

/*
.box_flex {
  background-color: white;

}

#etiquette_1:hover .box_flex{
  background-color: orange !important;

  animation: slidein 1s ease;
}
*/
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slidein {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*textes entrées light*/
/*Bouton Order*/
.order_btn {
  color: white;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  border-radius: 6rem;
  border: none;
  box-shadow: 1px 10px 20px -2px rgba(0, 0, 0, 0.18);
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.order_btn:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

/*FOOTER*/
footer ul li {
  margin-top: 5px;
}

/*
  .typography {
      color: $colour-primary;
      font-size: 2rem;
      font-weight: 100;
      line-height: 1.7;
    }
    h1 {
    @extend .typography;
    }
Couleurs
primaire violet: #9356DC
secondaire rose: #FF79DA
tertiare vert d'eau:#99E2D0 



h1{
    font-family: 'roboto';
    font-size: small;
    font-weight: 200;

}
h2{
    font-family:'shrikhand';
}
*/
/* SASS
.parent {
    font-size: 1.5rem;
    padding: 2rem;
    background-color: #15DEA5;
    color: #fff;
    text-align: center;
    border-radius: 2rem;
    .child {
    padding: 1rem;
    background-color: #19647E;
    margin-top: 1rem;
    border-radius: 10rem;
    }
  }

.parent {
  background-color: #15DEA5;
  .descendant {
      color: #fff;
  }
  >.child {
      color: #D6FFF5;
  }
  +.adjacent {
      color: #001534;
  }
}




.block{
  background-color: #15DEA5;
  .block__element {
      color: #fff;
  }


OR

.block{
  background-color: #15DEA5;
  &__element {
      color: #fff;
  }
}

BEM
   
.block{
  background-color: #15DEA5;
  .block__element {
      color: #fff;
  }

   .block__element--modifier {
      background-color: #001534;
  }
}
or 



.block{
  background-color: #15DEA5;
  &__element {
      color: #fff;
        &--modifier {
            background-color: #001534;
  }
  }
}






  .btn {
      display: inline-block;
      margin: 0 auto;
      background: #15DEA5;
      padding: 1rem;
    }

    .btn--disabled {
      background: grey;
    }

    .btn--outline {
      background: transparent;
      border: 2px solid #15DEA5;
    }

    .btn--outline.btn--disabled {
      border: 2px solid grey;
    }

    =


    .btn {
          display: inline-block;
          margin: 0 auto;
          background: #15DEA5;
          padding: 1rem;
          &--disabled {
              background: grey;
          }

           &--outline {
              background: transparent;
              border: 2px solid #15DEA5;
              &.btn--disabled{

                 border: 2px solid grey;
              }
          }
        }








         .btn {
            padding: 1.5rem;
            background: #15DEA5;
            cursor: pointer;
            border-radius: 100rem;
            font-size: 1.5rem;
            color: #fff;

            &--pink {
                background-color: #EA526F;
            }

            &--outline {
              background-color: unset;
              border: 1px solid #15DEA5;
              color: #15DEA5;

              &.btn--pink {
                  color: #EA526F;
                  border-color: #EA526F;
              }
            }


          }
VARIABLES

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
$color-primary:blue;
$color-secondary:#EA526F;
.btn {
  padding: 1.5rem;
  background: $color-primary;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
  &--pink {
    background:$color-secondary;




          */
/*# sourceMappingURL=mobile.css.map */

/*# sourceMappingURL=main.css.map */
