@charset "UTF-8";
html {
  box-sizing: border-box;
  font-family: "shrikhand";
  font-weight: 900;
  color: green;
}
html .container {
  max-width: 576px;
  margin: 0 auto;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
}
html .first_title {
  width: 150px;
}

/*Couleurs*/
/*Boutons violets*/
.btn_explorer {
  background-color: #9356DC;
  color: #fff;
  border-radius: 6rem;
  box-shadow: 20px blue;
}

/*
  .typography {
      color: $colour-primary;
      font-size: 2rem;
      font-weight: 100;
      line-height: 1.7;
    }
    h1 {
    @extend .typography;
    }
Couleurs
primaire violet: #9356DC
secondaire rose: #FF79DA
tertiare vert d'eau:#99E2D0 



h1{
    font-family: 'roboto';
    font-size: small;
    font-weight: 200;

}
h2{
    font-family:'shrikhand';
}
*/
/* SASS
.parent {
    font-size: 1.5rem;
    padding: 2rem;
    background-color: #15DEA5;
    color: #fff;
    text-align: center;
    border-radius: 2rem;
    .child {
    padding: 1rem;
    background-color: #19647E;
    margin-top: 1rem;
    border-radius: 10rem;
    }
  }

.parent {
  background-color: #15DEA5;
  .descendant {
      color: #fff;
  }
  >.child {
      color: #D6FFF5;
  }
  +.adjacent {
      color: #001534;
  }
}




.block{
  background-color: #15DEA5;
  .block__element {
      color: #fff;
  }


OR

.block{
  background-color: #15DEA5;
  &__element {
      color: #fff;
  }
}

BEM
   
.block{
  background-color: #15DEA5;
  .block__element {
      color: #fff;
  }

   .block__element--modifier {
      background-color: #001534;
  }
}
or 



.block{
  background-color: #15DEA5;
  &__element {
      color: #fff;
        &--modifier {
            background-color: #001534;
  }
  }
}






  .btn {
      display: inline-block;
      margin: 0 auto;
      background: #15DEA5;
      padding: 1rem;
    }

    .btn--disabled {
      background: grey;
    }

    .btn--outline {
      background: transparent;
      border: 2px solid #15DEA5;
    }

    .btn--outline.btn--disabled {
      border: 2px solid grey;
    }

    =


    .btn {
          display: inline-block;
          margin: 0 auto;
          background: #15DEA5;
          padding: 1rem;
          &--disabled {
              background: grey;
          }

           &--outline {
              background: transparent;
              border: 2px solid #15DEA5;
              &.btn--disabled{

                 border: 2px solid grey;
              }
          }
        }








         .btn {
            padding: 1.5rem;
            background: #15DEA5;
            cursor: pointer;
            border-radius: 100rem;
            font-size: 1.5rem;
            color: #fff;

            &--pink {
                background-color: #EA526F;
            }

            &--outline {
              background-color: unset;
              border: 1px solid #15DEA5;
              color: #15DEA5;

              &.btn--pink {
                  color: #EA526F;
                  border-color: #EA526F;
              }
            }


          }
VARIABLES

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
$color-primary:blue;
$color-secondary:#EA526F;
.btn {
  padding: 1.5rem;
  background: $color-primary;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
  &--pink {
    background:$color-secondary;




          */

/*# sourceMappingURL=mobile.css.map */
