@import "Layout/header.scss";
@import "Layout/footer.scss";
@import "Layout/form.scss";
@import "Utils/mixins.scss";
@import "Utils/variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap');

/*Responsive desktop*/


/*Filtres Fonctionnement*/

@media screen and (min-width: 1024px) {
	.filter_bloc {
		/*display:flex;
  flex-direction: row;
  width: 100%;
  */
		display: flex !important;
		flex-direction: row !important;
		.filter {
			width: 33%;
			.choice {
				left: 60px;
			}
		}
	}
  /*blocs menu Etiquettes*/ 
	.starters .menu_price,
	.main_course .menu_price,
	.desserts .menu_price {
		display: flex!important;
	}

	.starters,
	.main_course,
	.desserts {
	width:100%;
   height:120px!important;
    span {
      line-height: 1.6em;
    }
	}

	

	

	

	.wrapper_all_restaurants {
		padding-right: 0px!important;
    .restaurant_cards{
      flex-wrap: wrap;
      flex-direction: row!important;
      padding-right: 0px!important;
      a{
        width: calc((100% / 2) - 20px)!important;
      }
    } 
	}

  .bloc_menu {
		display: flex;
		gap: 20px;
  }

		/*Etiquettes entrées restaurant*/
		.starters .menu_price,
		.main_course .menu_price,
		.desserts .menu_price {
			float: none;
		}
    /* Icone check*/
.box_flex .checkbox{
  top:53px;
}  

footer .bloc_footer ul {
		padding-left: 0px;
		margin: 0px;
		align-content: center;
		display: flex;
		justify-content: space-evenly;
		gap: 30px;
    	height: 60px;
		align-items: center;
	}
	
	
}  

/*Responsive*/

* {
	box-sizing: border-box;
}


/*Spinner*/

.loader {
	border-radius: 50%;
	border-top: 16px ridge #9356dc;
	height: 120px;
	width: 120px;
	animation: loader 1.5s linear;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 999;
	visibility: hidden;
	opacity: 1;
	background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%)
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
		visibility: visible;
		opacity: 100%;
	}
	100% {
		transform: rotate(360deg);
		visibility: hidden;
		opacity: 0%;
	}
}

@keyframes wrapper {
	0% {
		visibility: visible;
		opacity: 90%;
	}
	60% {
		opacity: 70%;
	}
	100% {
		visibility: hidden;
		opacity: 0%;
	}
}


/*Conteneur wrapper*/

.wrapper_loader {
	height: 100%;
	background: white;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	animation: wrapper 1.5s linear;
	visibility: hidden;
}


/*Bordure du body*/

body {
	margin: 0;
}


/*Titles*/

h2.reserver_menu_title {
	text-align: center;
	padding-bottom: 10px;
}

.menu_title_card {
	font-family: 'Shrikhand';
}

h3 {
	margin-left: 20px;
}

h4 {
	font-size: 1.17em;
}

span.subtitle_main_title{
text-align: center;
}
/*Mise en page*/

html {
	box-sizing: border-box;
  margin: 0 auto;
	overflow-x: hidden;
	font-family: $font;
	/*
  font-family: "shrikhand";
  font-weight: 900;
  color: green;
  */
}




/*Couleurs*/


/*Boutons violets*/

.btn_location {
	@include btn(50px,
	190px);
	margin-top: 35px;
	margin-bottom: 50px;
}


/*grey background + Logo localisation*/

#background_grey {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eaeaea;
	height: 50px;
	border: 1px solid #eeeeee;
	width: 100%;
	margin-top: -11px;
}

.destination {
	position: relative;
	left: 10px;
}


/*Light grey background*/

#background_light_grey {
	background-color: #f6f6f6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	margin-bottom: 50px;
}


/*Second Title*/

.second_title {
	font-weight: 900;
	font-size: 1.2em;
	text-align: center;
	.text_align_left {
		text-align: left;
	}
}

/*element carte restaurant*/

span {

	padding-left: 15px;
}



/*Filtres choix restaurant*/

.filter_bloc {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.filter {
	display: flex;
	align-items: center;
	background: #f6f6f6;
	height: 50px;
	width: auto;
	margin: 10px 20px;
	border-radius: 20px;
	position: relative;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
	&:hover {
		background: #f5edff;
		opacity: 0.8;
		cursor: pointer;
		transition-duration: 0.8s;
		box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
		.icon_filter {
			color:$primary-color;
		}
		.choice {
			font-weight: bold;
		}
	}
	.circle_number {
		background-color: $primary-color;
		color: white;
		position: absolute;
		padding: 3px 8px 3px 8px;
		border-radius: 50px;
		transform: translate(-9px);
	}
	.icon_filter {
		position: relative;
		left: 30px;
		color: #7f7f7e;
	}
	.choice {
		position: absolute;
		left: 70px;
	}
}



//Liste restaurants
.wrapper_all_restaurants {
	background:$background-color;
	padding: 10px 20px 10px 20px;
	width: 100%;
	margin-top: 50px;
	padding-bottom: 50px;
	.restaurant_cards {
		display: flex;
		gap: 20px;
		flex-direction: column;
    a {
      text-decoration: none;
      color: #000000;
      width: 100%;
      height: 200px;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 1px 0px 3px 0px rgb(158 158 158);
      display: flex;
      flex-direction: column;
      position: relative;
      img { /*image carte restaurant dimensions et mise en page*/
        object-fit: cover;
        width: 100%;
        height: 60%;
        border-radius: 10px 10px 0 0;
      }
      &:hover {
        transition-duration: 0.8s;
        box-shadow: 2px 8px 4px -6px hsla(270, 90%, 76%, 1);
      }
    }
	}
}

/*Emplacement titre + coeur*/
.title_and_heart {
	display: flex;
	justify-content: space-between;
	padding-right: 20px;
	padding-top: 17px;
}
/*localité du restaurant*/
.area_restaurant {
	font-weight: 100;
}
/*icone nouveau*/
.new_icon {
	@include icon(0.9rem,
	#1b6150)
}


/*Coeur like*/
//Mise en page coeur rempli
.block_heart {
  .heart_full {
    position: absolute;
    fill: url(#heart_color);
    stroke: none;
    cursor: pointer;
  }
  .heart_empty {
    stroke-width: 20px;
    stroke: black;
    fill: white;
  }
}

.block_heart,
.heart_empty {
	width: 26px;
	position: relative;
}

.heart {
  &:hover {
    fill: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    opacity: 0.2;
    cursor: pointer;
    transition-duration: 0.8s;
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
  }	
}


/*Fleche retour page restaurant*/

.fa-arrow-left:active {
	color: black
}


/*  PAGE RESTAURANT LA NOTE ENCHANTEE*/


/*font menu*/

#menu {
	background-color: #f6f6f6;
}


/* image fond restaurant*/

.font_img_restaurant {
	@include font_img_restaurant
}


/*block page fond*/

.font_menu {
	@include font_menu
}


/*titre la palette du gout*/

.title_menu {
	font-family:$font-title
}


/*groupement alignement titre + coeur*/

.menu_title_block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-right: 4%;
}


/*Entrées,Plats,Desserts*/

.menu_subtitle {
	@include menu_title;
}


/*Encadrement entrées*/

.starters,
.main_course,
.desserts {
	@include card_menu(15px 15px 0px,
	20px,
	10px,
	100);
}


/*Opacités etiquettes*/

.starters,
.main_course,
.desserts {
	animation: opacity 1s both;
}


/*affichages cartes avec délai*/

#etiquette_1 {
	animation-delay: 0.1s;
}

#etiquette_2 {
	animation-delay: 0.2s;
}

#etiquette_3 {
	animation-delay: 0.3s;
}

#etiquette_4 {
	animation-delay: 0.4s;
}

#etiquette_5 {
	animation-delay: 0.5s;
}

#etiquette_6 {
	animation-delay: 0.6s;
}

#etiquette_7 {
	animation-delay: 0.7s;
}

#etiquette_8 {
	animation-delay: 0.8s;

}

#etiquette_9 {
	animation-delay: 0.9s;
}

#etiquette_10 {
	animation-delay: 1s;
}


/*Bloc menu*/

.bloc_menu {
	padding-top: 10px;
	padding-bottom: 30px;
	cursor: pointer;
}


/*slide validation*/

.box_flex {
	position: absolute;
	width: 0px;
	background: #99E2D0;
	border-radius: 0 10px 10px 0;
	right: 0px;
	top: 0px;
	height: 100%;
	transition: width ease 0.5s;
	contain: strict;
	.checkbox {
		font-size: 30px;
		color: white;
		top: 15px;
		left: 25px;
		position: relative;
		transition: transform ease 0.5s;
	}
}

.starters:hover .box_flex  {
	width: 80px;
	
}
.main_course:hover .box_flex {
	width: 80px;
}
.desserts:hover .box_flex {
	width: 80px;
}


.starters,.main_course,.desserts, .checkbox {
	transform: rotate(360deg);
}


// TEST


/* Elipses texte*/


.span{
	width: ease 0.5;
}

.starters:hover span{
	width:calc(100% - 80px);
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	margin: 0;
}
.main_course:hover span{
	width:calc(100% - 20px);
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	margin: 0;
}
.desserts:hover span{
	width:calc(100% - 20px);
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	margin: 0;
}


//TEST





.menu_dish{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.menu_light_and_price{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/*textes entrées light*/


/*Bouton Order*/

.order_btn {
	@include btn (50px,
	160px);
}


/*FOOTER*/

footer ul li {
	margin-top: 5px;
}


/*
  .typography {
      color: $colour-primary;
      font-size: 2rem;
      font-weight: 100;
      line-height: 1.7;
    }
    h1 {
    @extend .typography;
    }
Couleurs
primaire violet: #9356DC
secondaire rose: #FF79DA
tertiare vert d'eau:#99E2D0 



h1{
    font-family: 'roboto';
    font-size: small;
    font-weight: 200;

}
h2{
    font-family:'shrikhand';
}
*/


/* SASS
.parent {
    font-size: 1.5rem;
    padding: 2rem;
    background-color: #15DEA5;
    color: #fff;
    text-align: center;
    border-radius: 2rem;
    .child {
    padding: 1rem;
    background-color: #19647E;
    margin-top: 1rem;
    border-radius: 10rem;
    }
  }

.parent {
  background-color: #15DEA5;
  .descendant {
      color: #fff;
  }
  >.child {
      color: #D6FFF5;
  }
  +.adjacent {
      color: #001534;
  }
}




.block{
  background-color: #15DEA5;
  .block__element {
      color: #fff;
  }


OR

.block{
  background-color: #15DEA5;
  &__element {
      color: #fff;
  }
}

BEM
   
.block{
  background-color: #15DEA5;
  .block__element {
      color: #fff;
  }

   .block__element--modifier {
      background-color: #001534;
  }
}
or 



.block{
  background-color: #15DEA5;
  &__element {
      color: #fff;
        &--modifier {
            background-color: #001534;
  }
  }
}






  .btn {
      display: inline-block;
      margin: 0 auto;
      background: #15DEA5;
      padding: 1rem;
    }

    .btn--disabled {
      background: grey;
    }

    .btn--outline {
      background: transparent;
      border: 2px solid #15DEA5;
    }

    .btn--outline.btn--disabled {
      border: 2px solid grey;
    }

    =


    .btn {
          display: inline-block;
          margin: 0 auto;
          background: #15DEA5;
          padding: 1rem;
          &--disabled {
              background: grey;
          }

           &--outline {
              background: transparent;
              border: 2px solid #15DEA5;
              &.btn--disabled{

                 border: 2px solid grey;
              }
          }
        }








         .btn {
            padding: 1.5rem;
            background: #15DEA5;
            cursor: pointer;
            border-radius: 100rem;
            font-size: 1.5rem;
            color: #fff;

            &--pink {
                background-color: #EA526F;
            }

            &--outline {
              background-color: unset;
              border: 1px solid #15DEA5;
              color: #15DEA5;

              &.btn--pink {
                  color: #EA526F;
                  border-color: #EA526F;
              }
            }


          }
VARIABLES

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
$color-primary:blue;
$color-secondary:#EA526F;
.btn {
  padding: 1.5rem;
  background: $color-primary;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
  &--pink {
    background:$color-secondary;




          */


/*# sourceMappingURL=mobile.css.map */