@import "Layout/header.scss";
@import "Layout/footer.scss";
@import "Layout/form.scss";
@import "Utils/mixins.scss";
@import "Utils/variables";


* {
  box-sizing: border-box;
}
/*Bordure du body*/
body {
  margin: 0;
 
}

/*Titles*/
h2{
  text-align: center;
}
h3 {
  margin-left: 20px;
}
h4{
 font-size: 1.17em; 
}



/*Mise en page*/

html {
  box-sizing: border-box;
  /*
  font-family: "shrikhand";
  font-weight: 900;
  color: green;
  */
}
html .container {
  max-width: 576px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: $font;
}

/*Couleurs*/
/*Boutons violets*/
.btn_location{
  @include btn;  
&:hover{
opacity: 0.8;
cursor: pointer;
transition: .3s;
box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
}
}

/*
.btn_location{
  @include btn
}
.btn_location:hover{
opacity: 0.8;
cursor: pointer;
transition: .3s;
box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
}
*/



/*grey background + Logo localisation*/
#background_grey {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 50px;
  border: 1px solid #eeeeee;
  width: 100%;
}
.destination{
  position: relative;
  left:10px;
}
/*Light grey background*/
#background_light_grey{
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 230px;
}
/*Second Title*/
.second_title{
  font-weight: 900;
  font-size: 1.2em;
  text-align: center;
  .text_align_left{
  text-align: left;
  }
}
/*element span*/
span{
  text-align: center;

}
/*Filtres choix restaurant*/
.filter_bloc{

    display: flex;
    justify-content: center;
    flex-direction: column;
  }
    .filter{
      
      display: flex;
      align-items: center;
      background: #f6f6f6;
      height: 50px;
      width: auto;
      margin: 10px 20px;
      border-radius: 20px;
      position: relative;
      box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
    }
    .circle_number{
      background-color:$primary-color;
      color: white;
      position: absolute;
      padding: 3px 8px 3px 8px;
      border-radius: 50px;
      transform: translate(-9px);
    }
    .icon_filter{
      position: relative;
      left:40px;
      color:#7f7f7e;
    }
    .choice{
      position: absolute;
      left: 70px;
    }
 /*Hover couleur*/
 .filter:hover {
  background:#f5edff;
  opacity: 0.8;
  cursor: pointer;
  transition-duration:0.8s;
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
 }  
/*




0 0.5em 0.5em -0.4em var(--hover)

*/

//Liste restaurants

.wrapper_all_restaurants{
background:#f6f6f6;
padding: 10px 20px 10px 20px;
width: 100%;
margin-top: 10px;
.restaurant_cards{
display: flex;
gap: 20px;
flex-direction: column;
 }
} 
.restaurant_cards a{
  text-decoration: none;
  color: #000000;
  width: 100%;
  height: 180px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 0px 3px 0px rgb(158 158 158);
  display: flex;
  flex-direction: column;
}
.restaurant_card_effect{
  display: flex;

}
.restaurant_cards a img{
  object-fit: cover;
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 0 0;
}
.text_block{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  transform:translate(13px,-8px);
}  
.new_icon{
  @include icon
  }
/*Coeur like*/

.block_heart .heart_full{
  position: absolute;
  fill:url(#heart_color);
  stroke:none;
}
.block_heart .heart_empty{
  stroke-width: 20px;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.block_heart{
  width: 20px;
  position: relative;
}


.heart:hover{

    background:linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    opacity: 0.8;
    cursor: pointer;
    transition-duration:0.8s;
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
   } 

/*
  .typography {
      color: $colour-primary;
      font-size: 2rem;
      font-weight: 100;
      line-height: 1.7;
    }
    h1 {
    @extend .typography;
    }
Couleurs
primaire violet: #9356DC
secondaire rose: #FF79DA
tertiare vert d'eau:#99E2D0 



h1{
    font-family: 'roboto';
    font-size: small;
    font-weight: 200;

}
h2{
    font-family:'shrikhand';
}
*/
/* SASS
.parent {
    font-size: 1.5rem;
    padding: 2rem;
    background-color: #15DEA5;
    color: #fff;
    text-align: center;
    border-radius: 2rem;
    .child {
    padding: 1rem;
    background-color: #19647E;
    margin-top: 1rem;
    border-radius: 10rem;
    }
  }

.parent {
  background-color: #15DEA5;
  .descendant {
      color: #fff;
  }
  >.child {
      color: #D6FFF5;
  }
  +.adjacent {
      color: #001534;
  }
}




.block{
  background-color: #15DEA5;
  .block__element {
      color: #fff;
  }


OR

.block{
  background-color: #15DEA5;
  &__element {
      color: #fff;
  }
}

BEM
   
.block{
  background-color: #15DEA5;
  .block__element {
      color: #fff;
  }

   .block__element--modifier {
      background-color: #001534;
  }
}
or 



.block{
  background-color: #15DEA5;
  &__element {
      color: #fff;
        &--modifier {
            background-color: #001534;
  }
  }
}






  .btn {
      display: inline-block;
      margin: 0 auto;
      background: #15DEA5;
      padding: 1rem;
    }

    .btn--disabled {
      background: grey;
    }

    .btn--outline {
      background: transparent;
      border: 2px solid #15DEA5;
    }

    .btn--outline.btn--disabled {
      border: 2px solid grey;
    }

    =


    .btn {
          display: inline-block;
          margin: 0 auto;
          background: #15DEA5;
          padding: 1rem;
          &--disabled {
              background: grey;
          }

           &--outline {
              background: transparent;
              border: 2px solid #15DEA5;
              &.btn--disabled{

                 border: 2px solid grey;
              }
          }
        }








         .btn {
            padding: 1.5rem;
            background: #15DEA5;
            cursor: pointer;
            border-radius: 100rem;
            font-size: 1.5rem;
            color: #fff;

            &--pink {
                background-color: #EA526F;
            }

            &--outline {
              background-color: unset;
              border: 1px solid #15DEA5;
              color: #15DEA5;

              &.btn--pink {
                  color: #EA526F;
                  border-color: #EA526F;
              }
            }


          }
VARIABLES

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
$color-primary:blue;
$color-secondary:#EA526F;
.btn {
  padding: 1.5rem;
  background: $color-primary;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
  &--pink {
    background:$color-secondary;




          */

/*# sourceMappingURL=mobile.css.map */