footer {
    .bloc_footer {
        background-color:#353535;
       
        ul {
            list-style: none;
            padding-left: 0px;
            display: inline-block;
            height: 110px;
            padding-left: 30px;
            li {
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 0.9em;
                    font-family:$font;
                    .icon-restaurant,
                    .icon-partenaire {
                        margin-right: 5px;
                        font-weight: 900;
                    }
                }
            }
        }
        .titre-pied-page {
            margin-bottom: 5px;
        }
    }
}
