@import "../Utils/variables.scss";

/*Logo Principal*/
header {
    .first_title {
        margin:4px 0px 11px 0px;
        #main_logo{
            width: 150px;
            margin: auto;
            display: flex;
        }
        padding: 10px;
        box-shadow: -1px 5px 3px 0px rgba(0,0,0,0.10);
        
        
    }
}



.fa-arrow-left:before{
    position: relative;  
    bottom:43px;
    left:25px;
    text-decoration: none;
    & a:visited{
        color:black;
    } 
}


